
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



body{
    /* background: #E5E5E5; */
    background-color: #f3f5fc;
}

/*Cabezera */
header{
    padding: 40px;
}

.logo{
    position: absolute;
    top: 30px;
    left: 1px;
    width: 120px;
    height: 48px;
}

/*Contenido o Main*/


/*Contenedor de texto*/

.text-container{
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    height: 800px; */
    display: grid;
    grid-template-columns: 2fr 1fr;
    max-width: 100%;
    height: fit-content;
    
    
}
.text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 100%;
    margin: 10px 0 0 40px;
    background-color: #f3f5fc;
    /* border: 1px solid black;
    border-radius: 32px; */
    /* height: 774px; */
}

.content{
    display: flex;
    flex-direction: column;
}

.textarea-encriptar{
    margin: 0 0 60px 0;
    width: 100%;
    height: 80%;
    color: #0A3871;
    font-size: 22px;
    border: none;
    resize: none;
    background-color: #f3f5fc;
}

.textarea-encriptar:focus{
    outline:none;
}

.textarea-encriptar::placeholder{
    color: #0A3871;
}

.warning{
    display: flex;
    justify-content: flex-start;
    font-size: 15px;
    margin: 5px 5px 5px 10px;
}
.warning img{
    margin-right: 10px;
}
.button-text{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    
}

.button-encriptar{
    background: #0A3871;
    border: 1px solid #0a3871;
    border-radius: 24px;
    color: white;
    max-width: 100%;
    height: 67px;
    padding: 24px;
    gap: 8px;
    
}

.button-desencriptar{
    background: #D8DFE8;
    border: 1px solid #0a3871;
    border-radius: 24px;
    color: #0a3871;
    max-width: 100%;
    height: 67px;
    padding: 24px;
    gap: 8px;
    
}


/*Contentedor de resultados*/
.result-text{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 32px;
    max-width: 400px;
    /* height: 774px; */
    margin: 0 0 0 80px ;
    background-color: white;
}

#content-disappear{
    display: none;
}
#content-button-disappear{
    display: block;
}
.img-muneco{
    width: 336px;
    height: 304px;
}
.result-content{
    max-width: 100%;
}

.textarea-desencriptar{
    margin: 10px;
    width: 100%;
    height: 80%;
    color: #0A3871;
    font-size: 22px;
    text-align: center;
    border: none;
    border-radius: 32px;
    resize: none;

}

.textarea-desencriptar:focus{
    outline:none;
}

.button-result-text{
    /* display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 67px; */
    display: inline;
    gap: 24px;
}
.button-copy{
    background: white;
    border: 1px solid #0a3871;
    border-radius: 24px;
    color: #0a3871;
    width: 328px;
    height: 67px;
    padding: 24px;
    gap: 8px;
    
}





/*Pie de pagina*/
footer{
    display: block;
    text-align: center;
    margin: 40px auto; 
    max-width: 100%;
}

.copyright{
    color: #0a3871;
}

@media screen and (max-width: 1000px) {
    .text-container{
        display: flex;
        flex-direction: column;
        height: fit-content;
        margin: 0 30px;
        padding: 0 40px;
    }

    .text{
        display: flex;
        flex-direction: column;
        height: fit-content;
        margin: 0 30px;
        max-width: 100%;
    }

    .result-text{
        display: flex;
        flex-direction: column;
        margin: 60px 0 40px 0;
        max-width: 100%;
        height: fit-content;
    }

    .img-muneco{
        display: none;
    }

}

@media screen and (max-width: 600px) {
    .text{
        display: flex;
        flex-direction: column;
        height: fit-content;
        margin: 0 30px;
        max-width: 100%;
    }

    .result-text{
        display: flex;
        flex-direction: column;
        margin: 60px 0 40px 0;
        max-width: 100%;
        height: fit-content;
    }
    .button-text{
        display: grid;
        gap: 24px;
        grid-template-columns: none;
        grid-template-rows: auto;
    }

    .result-text{
        margin: 64px 0 40px 0;
    }
}

